@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <title> Logiar </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">



        <style>
        .modal-content{
          padding-top:50%;
		    	background-color: rgba(0,0,0,0.0);
          border:0;
          
		    }
		    .btn-link{
		    	color:white;
		    }
		    .modal-heading h2{
		    	color:#ffffff;
		    }

        body {
          background: #ffffff; /* fallback for old browsers */
          background: -webkit-linear-gradient(right, #ffffff, #1D73A6);
          background: -moz-linear-gradient(right, #ffffff, #1D73A6);
          background: -o-linear-gradient(right, #ffffff, #1D73A6);  
          background: linear-gradient(to left, #ffffff, #1D73A6);
          font-family: "Roboto", sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;      
        }

        #logoumg{
          padding-left:30%;
          padding-bottom:30px;
        }

        body > div > div.form > form.login-form > input[type="submit"]:nth-child(3){
            background:#CC3433
        }

        </style>
    </head>

        <body>
        <div class="modal-dialog">
		<div class="modal-content">
			<div class="img modal-heading">
            <img id="logoumg" src="~/umg.png">

			</div>



			<hr />
			<div class="modal-body">
        <form aspcontroller="AdminLogin" asp-action="Logiar" role="fomr" >
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user">
              <i class="far fa-envelope"></i> 
              </span>
							</span>
							<input type="email" name="correo" class="form-control" placeholder="Correo" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock">
              <i class="fas fa-key"></i> 
              </span>
							</span>
							<input type="password" name="pass" class="form-control" placeholder="Contraseña" />

						</div>

					</div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-danger ">Ingresar</button>
					</div>

				</form>
			</div>
		</div>
	</div>

        </body>
</html>