@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/fix.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

<!--
<h1>Welcome @ViewData["username"]!</h1>

<div class="text-center">
    <div id="title">
    <h1 class="display-3">Citas</h1>
    </div>
</div>

-->

<div class="container">


    <div class="jaja row">
    <div class="centro-dos col-md-4">

<div class="text-center">
    <div id="title">
    <h1 class="display-8">Citas del Dia</h1>
    </div>
</div>
          <table class="table table-hover table-striped">
            <thead class="thead-light memes">
              <tr>
                <th scope="">Paciente</th>
                <th scope="">Hora</th>
              </tr>
            </thead>
            <tbody id="pbody" class="memes">
              
            </tbody>
          </table>
    </div> 
  
       <!--  
        <a href="#" class="gg">
            <h4>
            Citas de este Mes
            </h4>
        </a>    
        -->

    <div class="citas col-md-8 ">
<div class="text-center">
    <div id="title">
    <h1 class="display-8">Citas del Mes</h1>
    </div>
<div>


        <table>
              <tr>
                <th class="day-name">Dom</th>
                <th class="day-name">Lun</th>
                <th class="day-name">Mart</th>
                <th class="day-name">Mier</th>
                <th class="day-name">Juev</th>
                <th class="day-name">Vie</th>
                <th class="day-name">Sab</th>
              </tr>
              <tr>
                <td class="day"><span class="number">31</span></td>
                <td class="day"><span class="number">1</span><span class="event"></span><span class="event"></span></td>
                <td class="day"><span class="number">2</span></td>
                <td class="day"><span class="number">3</span><span class="event event-multiday-start"></span></td>
                <td class="day"><span class="number">4</span><span class="event event-multiday"></span><span class="event event-multiday-start eventclass" style="background-color:#5a9ab2;"></span><span class="event"></td>
                <td class="day"><span class="number">5</span><span class="event event-multiday-finish"></span><span class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
                <td class="day"><span class="number">6</span><span class="event event-ghost"></span><span class="event event-multiday-finish eventclass" style="background-color:#5a9ab2;"></span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">7</span></td>
                <td class="day"><span class="number">8</span><span class="event"></span></td>
                <td class="day"><span class="number">9</span></td>
                <td class="day"><span class="number">10</span></td>
                <td class="day"><span class="number">11</span></td>
                <td class="day"><span class="number">12</span></td>
                <td class="day"><span class="number">13</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">14</span></td>
                <td class="day"><span class="number">15</span></td>
                <td class="day"><span class="number">16</span><span class="event"></span></td>
                <td class="day"><span class="number">17</span><span class="event"></span></td>
                <td class="day"><span class="number">18</span></td>
                <td class="day"><span class="number">19</span></td>
                <td class="day"><span class="number">20</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">21</span></td>
                <td class="day"><span class="number">22</span></td>
                <td class="day"><span class="number">23</span></td>
                <td class="day"><span class="number">24</span></td>
                <td class="day"><span class="number">25</span></td>
                <td class="day"><span class="number">26</span></td>
                <td class="day"><span class="number">27</span><span class="event event-multiday-start" style="background-color:#da5f5f;"></td>
              </tr>
              <tr>
                <td class="day"><span class="number">28</span><span class="event event-multiday" style="background-color:#da5f5f;"></td>
                <td class="day today"><span class="number">29</span><span class="event event-multiday-finish" style="background-color:#da5f5f;"></td>
                <td class="day"><span class="number">30</span></td>
                <td class="day"><span class="number">1</span></td>
                <td class="day"><span class="number">2</span></td>
                <td class="day"><span class="number">3</span></td>
                <td class="day"><span class="number">4</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">5</span></td>
                <td class="day"><span class="number">6</span><span class="event"></span></td>
                <td class="day"><span class="number">7</span></td>
                <td class="day"><span class="number">8</span></td>
                <td class="day"><span class="number">9</span></td>
                <td class="day"><span class="number">10</span></td>
                <td class="day"><span class="number">11</span></td>
              </tr>
        </table>
    </div>
</div>
<script>

window.onload = function() {
$.getJSON("/api/CitaApi/", function (res) {
  $.each(res,
    function (key, value) {
      if (value.fechaInicio >= dateS && value.fechaInicio <= dateF) {

        //console.log("fecha cita: " + value.fechaInicio + " fecha de hoy: " + dateS);
        //console.log("cita:" + value.idCita + " fecha: " + value.fechaInicio + " paciente: " + value.idPaciente)
        //var tabla = document.getElementById('tabla');
        var id = value.idPaciente;
        //console.log(id);
        $.getJSON("/api/PacienteApi/" + id, function (res) {

          ncomp = res.primerNombre + " " + res.segundoNombre + " " + res.primerApellido + " " + res.segundoApellido;
          var tbody = document.getElementById("pbody");
          //var tbody = document.getElementsByTagName('tbody')[0];
          var tr = document.createElement('tr')
          tr.innerHTML = `<tr>
                     <td>
                      ${ncomp}
                     </td> 
                     <td>
                      ${value.fechaInicio.slice(11,19) + " AM"}
                     </td> 
                  </tr>`
          tbody.appendChild(tr);
        });


      }
    });
});
}
</script>