@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/fix.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Clinica Médica</h1>
    <p>Bienvenido.</p>
</div>

<div class="row">

    <div class="col-4">
        <h5>
            Citas de hoy  
        </h5>    
        <p>
            <ul>
                <li>Fecha: 12/12/2019</li>
            <ul>
        <p>

    </div>
    
    <div class="citas col-8">
        <h5>Acceso Directos</h5>
    </div>
</div>