@{
    ViewData["Title"] = "Home Page";
}

<link href="wwwroot/css/fix.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Clinica Médica</h1>
    <p>Bienvenido.</p>
</div>

<div class="row">

    <div class="col-2">
        <h5>
            Citas de hoy  
        </h5>    

    </div>
    
    <div class="citas col-10">
        <h5>Acceso Directos</h5>
    </div>
</div>