@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/calendar.css" rel="stylesheet">
<link href="~/css/fix.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

<script src="~/js/calendar.js"></script>

<!--
<h1>Welcome @ViewData["username"]!</h1>

<div class="text-center">
    <div id="title">
    <h1 class="display-3">Citas</h1>
    </div>
</div>

-->

<div class="container">


    <div class="jaja row">
    <div class="centro-dos col-md-4">

<div class="text-center">
    <div id="title">
    <h1 class="display-8">Citas del Dia</h1>
    </div>
</div>
          <table class="table table-hover table-striped">
            <thead class="thead-light memes">
              <tr>
                <th scope="">Paciente</th>
                <th scope="">Hora</th>
              </tr>
            </thead>
            <tbody id="pbody" class="memes">
              
            </tbody>
          </table>
    </div> 
  
       <!--  
        <a href="#" class="gg">
            <h4>
            Citas de este Mes
            </h4>
        </a>    
        -->

    <div class="citas col-md-8 ">
<div class="text-center">
    <div id="title">
    <h1 class="display-8">Citas del Mes</h1>
    </div>


        <div id="tempust"></div>

        <script>
          var primera = ({
            "2019/10/11": $("<div>Event on today as well!</div>"),
          })

          var obje = ({
          "2019/10/12": $("<div>Event on today!</div>"),
          "2019/10/11": $("<div>Event on today as well!</div>"),
          "2019/10/10": $("<div>jQueryScript Event</div>")

          })

          var obj =$.getJSON("/api/CitaApi/", function (res) {
             $.each(res,
                  function (key, value) {
                    var id = value.idPaciente
                    var nombre;
                    $.getJSON("/api/PacienteApi/" + id, function (res) {
                           nombre = res.primerNombre + " " + res.segundoNombre + " " + res.primerApellido + " " + res.segundoApellido;
                     

                      var a = value.fechaInicio.substr(0,4)
                      var b = value.fechaInicio.substr(5,2)
                      var c = value.fechaInicio.substr(8,2)
                      var com = a+"/"+b+"/"+c;
                      var inside = "<div>"+nombre+"</div>"
                      primera[com] = inside;
                    //primera[com] = $("<div>Event on today!</div>")
                    $("#tempust").tempust("setEvents", primera);
                    //primera.push ({"id": value.idPaciente, "fecha": value.fechaInicio})
                        });
                  });
              });

            //console.table(primera)
            //console.log(obje);
            

            $("#tempust").tempust({
                date: new Date("2019/10/10"),
                offset: 1
            });
          /*
            $("#tempust").on("changeDate", function (event) {
                $("#output")
                .append("Date Changed!")
                .append("<br/>");
            });
            */
            //console.log(primera)
            //console.log(obje)

            //$("#tempust").tempust("setEvents", obje);
            //$("#tempust").tempust("setEvents", primera);

        </script>
      </div>


<script>

window.onload = function() {

$.getJSON("/api/CitaApi/", function (res) {

  $.each(res,
    function (key, value) {
      if (value.fechaInicio >= dateS && value.fechaInicio <= dateF) {

        //console.log("fecha cita: " + value.fechaInicio + " fecha de hoy: " + dateS);
        //console.log("cita:" + value.idCita + " fecha: " + value.fechaInicio + " paciente: " + value.idPaciente)
        //var tabla = document.getElementById('tabla');
        var id = value.idPaciente;
        //console.log(id);
        $.getJSON("/api/PacienteApi/" + id, function (res) {

          ncomp = res.primerNombre + " " + res.segundoNombre + " " + res.primerApellido + " " + res.segundoApellido;
          var tbody = document.getElementById("pbody");
          //var tbody = document.getElementsByTagName('tbody')[0];
          var tr = document.createElement('tr')
          tr.innerHTML = `<tr>
                     <td>
                      ${ncomp}
                     </td> 
                     <td>
                      ${"De " + value.fechaInicio.slice(11,19) + " AM - " + value.fechaFinal.slice(11,19) + "AM"}
                     </td> 
                  </tr>`
          tbody.appendChild(tr);
        });


      }
    });
});

}
</script>