
@{
    ViewData["Title"] = "Index";
}

<h2>Mantenimientos</h2>

<div class="row">
    <div class="col">
        <ul>
            <li><a asp-controller="doctor" asp-action="index"> Doctores </a></li>
            <li><a asp-controller="AdminLogin" asp-action="index"> AdminLogin </a></li>
            <li><a asp-controller="enfermera" asp-action="index"> Enfermeras </a></li>
        </ul>
    </div>
</div>


