<link rel="stylesheet" href="~/css/tab.css"> 

<title> Detalles Cita</title>

<h2>Detalle Consulta: <strong name="@ViewData["ident"]" id="idcon">@ViewData["ident"]</strong></h2>
<!---table --->
    <table class="table table-sm">
      <thead  class="thead">
          <tr>
            <th>Paciente</th>
            <th>Expediente</th>
            <th>Asunto</th>
            <th>Monto</th>
          </tr>
      </thead>
      <tbody id="beta" >
      </tbody>
    </table>


<hr>

<div class="tab row">
  <button class="col tablinks" onclick="openCity(event, 'lab')"><i class="fas fa-vials"></i> Ordenes De laboratorio</button>
  <button class="col tablinks" onclick="openCity(event, 'diag')"><i class="fas fa-stethoscope"></i> Diagnostico</button>
  <button class="col tablinks" onclick="openCity(event, 'rece')"><i class="fas fa-file-medical-alt"></i> Recetas</button>
  <button id="btn-signos" class="col tablinks" onclick="openCity(event, 'sig')"><i class="fas fa-weight"></i> Signos Vitales</button>
</div>


<div id="lab" class="tabcontent">
<h4>Examenes de laboratorio</h4>
<hr />
    <div class="form-group">
        <input required placeholder="Nombre del examen" id="dire" class="form-control" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" id="agregarEx">Agregar</button> 
    </div>
    <!---table --->
    <table class="table table-sm">
      <thead  class="thead">
          <tr>
            <th>Nombre del examen</th>
          </tr>
      </thead>
      <tbody id="bexam" >
      </tbody>
    </table>

    <div class="form-group">
      <button class="btn btn-success" id="saveTable">Guardar</button> 
    </div>

</div>

<div id="diag" class="tabcontent">

  <div class="row">
    <div class="col">
      <h3>Diagnostico</h3>

<hr />
        <div class="form-group">
            <select id="cie" class="form-control"></select>
        </div>
  
        <div class="form-group">
          <button class="btn btn-primary" id="agregarDiag">Agregar</button> 
        </div>
        <!---table --->
        <table class="table table-sm">
          <thead class="thead">
              <tr>
                <th>Enfermedad</th>
              </tr>
          </thead>
          <tbody id="biag" >
          </tbody>
        </table>

    <div class="form-group">
      <button class="btn btn-success" id="saveDiag">Guardar</button> 
    </div>

    </div>
  </div>
</div>

<div id="rece" class="tabcontent">
  <h3>Receta</h3>
<hr />
    <div class="form-group">
        <select id="receta" class="form-control"></select>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" id="selecres">Seleccionar</button> 
      <button class="btn btn-secondary" id="genew">Generar Nuevo</button> 
    </div>

 <br> 
 <br> 

  <div class="form-group">
      <button id="btnmodal" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-novi">Agregar Médicamento</button>
  </div>

  <table class="table table-sm">
      <thead  class="thead">
          <tr>
            <th>Medicamento</th>
            <th>Cantidad</th>
            <th>dosis</th>
          </tr>
      </thead>
      <tbody id="boceta" >
      </tbody>
  </table>

    <div class="form-group">
      <button class="btn btn-success" id="saveMedi">Guardar</button> 
    </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Descripción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#">
                <div class="form-group">
                    <label class="control-label">Medicamento</label>
                    <input id="medi" type="text"  class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">Cantidad</label>
                    <input id="cant" type="number" class="form-control">
                </div>
                
                <div class="form-group">
                    <label class="control-label">Dosis</label>
                    <input id="dosi" type="text" class="form-control">
                </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="addMedi" type="button" class="btn btn-primary">Agregar</button>
            </div>
            </div>
        </div>
        </div>

</div>

<div id="sig" class="tabcontent">
  <h3>Signos Vitales:
    <strong id="idmedicamento"></strong>
  </h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form >
            <div  class="text-danger"></div>
            <input type="hidden" />
            <div class="form-group">
                <label  class="control-label">Estatura</label>
                <input  id="est" placeholder="Centimetros." type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Peso</label>
                <input  id="pes" placeholder="Kgs." type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Temperatura</label>
                <input  id="temp" placeholder="°C"  type="number" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Pulso</label>
                <input  id="pul" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Presion Arterial</label>
                <input  id="art" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Frecuencia Cardiaca</label>
                <input  id="card" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="control-label">Frecuencia Respiratoria</label>
                <input  id="respi" type="number" class="form-control" />
            </div>
            <!--
            <div class="form-group">
                <label  class="control-label">Enfermera</label>
                <select id="enf" class="form-control" ></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Fecha</label>
                <input id="medfech" type="date" class="form-control" />
            </div>
            -->
            
            <div class="form-group">
                <input id="actuSig" type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





</div>

<script src="~/js/tabs.js" asp-append-version="true"></script>